<div class="blank-layout-container justify-content-center align-items-center bg-light-primary">
  <div class="position-relative row w-100 h-100 bg-gredient justify-content-center">
    <div class="col-lg-4 d-flex align-items-center">
      <mat-card class="cardWithShadow boxed-auth">
        <mat-card-content class="p-32">
          <div class="text-center">
            <a [routerLink]="['/dashboard']">
              <img src="./assets/images/logos/logos.svg" class="align-middle m-2" alt="logo" />
            </a>
          </div>

          <form [formGroup]="form" (ngSubmit)="submit()" class="m-t-30">
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">First name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="firstname" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Last name</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="lastname" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Email Address</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="email" formControlName="email" />
            </mat-form-field>
            <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Password</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput type="password" formControlName="password" />
              <mat-error *ngIf="f.password.errors?.['required']">Password is required.</mat-error>
              <mat-error *ngIf="f.password.errors?.['minlength']">Password must be at least 8 characters long.</mat-error>
              <mat-error *ngIf="f.password.errors?.['passwordStrength']">
                Password must include at least one uppercase letter, one lowercase letter, one number, and one special character.
              </mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary" class="w-100" type="submit">
              Sign Up
            </button>
          </form>
          
          <span class="d-block f-w-500 text-center m-t-24">
            Already have an Account?
            <a [routerLink]="['/authentication/login']" class="text-decoration-none text-primary f-w-500 f-s-14">Sign In</a>
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
